In [62]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\jdlma\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\jdlma\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [64]:
#importação dos dadosdo ibovespa em arquivo csv de 01/01/1995 a 11/01/2025
ibov = pd.read_csv(r'G:\Meu Drive\01 - Postech_FIAP_DataAnalytics\Fase2\Chalend\Dados Históricos - Ibovespa_01011995_a_11012025 .csv', encoding='utf-8')

ibov.head()

         Data  Último  Abertura  Máxima  Mínima   Vol.    Var%
0  16.03.2015  48.848    48.602  49.205  48.394  3,16M   0,52%
1  13.03.2015  48.596    48.858  48.858  47.905  4,48M  -0,58%
2  12.03.2015  48.880    48.908  49.633  48.684  3,83M  -0,05%
3  11.03.2015  48.906    48.309  48.937  48.309  3,84M   1,27%
4  10.03.2015  48.293    49.177  49.177  48.293  4,43M  -1,81%

In [65]:
ibov.shape

(5000, 7)

In [66]:
ibov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      5000 non-null   object
 1   Último    5000 non-null   float64
 2   Abertura  5000 non-null   float64
 3   Máxima    5000 non-null   float64
 4   Mínima    5000 non-null   float64
 5   Vol.      5000 non-null   object
 6   Var%      5000 non-null   object
dtypes: float64(4), object(3)
memory usage: 273.6+ KB

In [67]:
ibov['Data'] = pd.to_datetime(ibov['Data'], format='%d.%m.%Y')

In [72]:
ibov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Data      5000 non-null   datetime64[ns]
 1   Último    5000 non-null   float64
 2   Abertura  5000 non-null   float64
 3   Máxima    5000 non-null   float64
 4   Mínima    5000 non-null   float64
 5   Vol.      5000 non-null   object
 6   Var%      5000 non-null   object
dtypes: datetime64[ns](1), float64(4), object(2)
memory usage: 273.6+ KB

In [71]:
ibov.T.describe

<bound method NDFrame.describe of                          0                    1                    2     \
Data      2015-03-16 00:00:00  2015-03-13 00:00:00  2015-03-12 00:00:00
Último                 48.848               48.596                48.88
Abertura               48.602               48.858               48.908
Máxima                 49.205               48.858               49.633
Mínima                 48.394               47.905               48.684
Vol.                    3,16M                4,48M                3,83M
Var%                    0,52%               -0,58%               -0,05%

                         3                    4                    5     \
Data      2015-03-11 00:00:00  2015-03-10 00:00:00  2015-03-09 00:00:00
Último                 48.906               48.293               49.181
Abertura               48.309               49.177               49.978
Máxima                 48.937               49.177               49.978
Mínima                 48.309               48.293               48.952
Vol.                    3,84M                4,43M                3,30M
Var%                    1,27%               -1,81%               -1,60%

                         6                    7                    8     \
Data      2015-03-06 00:00:00  2015-03-05 00:00:00  2015-03-04 00:00:00
Último                 49.981               50.365               50.468
Abertura               50.355               50.472               51.303
Máxima                 50.401               50.734               51.303
Mínima                 49.779               50.114               50.399
Vol.                    2,79M                2,73M                3,65M
Var%                   -0,76%               -0,20%               -1,63%

                         9     ...                 4990                 4991  \
Data      2015-03-03 00:00:00  ...  1995-01-13 00:00:00  1995-01-12 00:00:00
Último                 51.304  ...                4.104                3.841
Abertura               51.021  ...                3.841                3.499
Máxima                 51.432  ...                4.108                3.841
Mínima                 50.995  ...                3.785                3.499
Vol.                    2,75M  ...               13,62B               15,01B
Var%                    0,55%  ...                6,85%                9,77%

                         4992                 4993                 4994  \
Data      1995-01-11 00:00:00  1995-01-10 00:00:00  1995-01-09 00:00:00
Último                  3.499                 3.27                3.628
Abertura                 3.27                3.628                3.827
Máxima                  3.505                3.692                3.836
Mínima                  3.109                3.175                 3.57
Vol.                   13,97B               13,16B                9,45B
Var%                    7,00%               -9,87%               -5,20%

                         4995                 4996                 4997  \
Data      1995-01-06 00:00:00  1995-01-05 00:00:00  1995-01-04 00:00:00
Último                  3.827                4.037                3.968
Abertura                4.037                3.968                4.098
Máxima                  4.106                 4.04                4.098
Mínima                  3.813                3.944                3.861
Vol.                   12,02B                8,76B               11,95B
Var%                   -5,20%                1,74%               -3,17%

                         4998                 4999
Data      1995-01-03 00:00:00  1995-01-02 00:00:00
Último                  4.098                4.301
Abertura                 4.37                4.354
Máxima                  4.386                4.398
Mínima                  4.094                  4.3
Vol.                    8,35B                4,10B
Var%                   -4,72%               -1,22%

[7 rows x 5000 columns]>

In [69]:
ibov.columns

Index(['Data', 'Último', 'Abertura', 'Máxima', 'Mínima', 'Vol.', 'Var%'], dtype='object')

In [74]:
ibov = sns.load_dataset("ibov")
sns.lineplot(data=ibov, x="Data", y="Último", kind="line")
plt.show

ValueError: 'ibov' is not one of the example datasets.

In [ ]:
sns.lineplot()
plt.show()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1391938291.py, line 2)